services:
  # Base image containing dependencies.
  base:
    image: operator
    build:
      context: ..
      dockerfile: docker/operator/Dockerfile
      args:
        ROS_DISTRO: jazzy
    # Interactive shell
    stdin_open: true
    tty: true
    # Networking and IPC for ROS 2
    network_mode: host
    ipc: host
    pid: host
    ports:
      - 7447:7447
      - 8000:8000
    # Needed to display graphical applications
    privileged: true
    environment:
      # Allows graphical programs in the container.
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - NVIDIA_DRIVER_CAPABILITIES=all
      - ROS_DOMAIN_ID=66
    volumes:
      # Allows graphical programs in the container.
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ${XAUTHORITY:-$HOME/.Xauthority}:/root/.Xauthority
      - /dev/input/js0:/dev/input/js0
    command: ros2 launch neato_operator teleop.launch.py
